<h1 style = 'color:#BD3737; text-align: center; font-weight: bold'>Universidad Castro Carazo</h1>
<h5 style = 'color:#942222; text-align: center'>Análisis de Datos</h5>
<center> <img src = 'carro-deportivo.png'> <center>
</br>
<p style = 'text-align: justify; font-family: Tahoma'>El análisis de datos es un proceso sistemático y metódico que implica la recopilación, organización, interpretación y visualización de conjuntos de datos con el objetivo de extraer información significativa y relevante. Este proceso utiliza herramientas, tecnologías y procesos para encontrar tendencias y resolver problemas mediante datos.</p>

<table>
  <tr>
    <td> <img src = boton-de-informacion.png> </td>
    <td>Repositorio UCI del set de datos </td>
    <td> <a href = 'https://archive.ics.uci.edu/dataset/10/automobile'>Enlace al sitio web</a> </td>
  </tr>
  <tr>
    <td> <img src = pantone.png> </td>
    <td>Paleta de colores </td>
    <td> <a href = 'https://paletadecolores.com.mx/paleta/942222/bd3737/d4cdad/98c3a1/25857d/'>Enlace al sitio web</a> </td>
  </tr>
</table>

<h2 Style = "color:  #a8c4a2 ">1. Carga y estandarizacion de los set de datos</h2>
 
<ul>
<li style="font-family: Tahoma">Instalar e importar las librerias necesarias para trabajar</li>
<li style="font-family: Tahoma">Importar los archivos csv (Set de Datos)</li>
<li style="font-family: Tahoma">Revison de los set de datos (encabezados)</li>
<li style="font-family: Tahoma">Generar un unico set de datos</li>
</ul>
 
<h4 style="color:#616382; font-family: Tahoma"> 1.1) Instalar e importar las librerias necesarias para trabajar </h4>

In [1]:
import numpy as np #Esta libreria es para trabajar estructuras de datos (Listas, Tuplas, Diccionarios) 
import pandas as pd #Esta libreria se usa para el manejo de datos (dataFrame)
import matplotlib as npl #Esta libreria se usa para crear graficos. 
import matplotlib.pyplot as plt #Esta libreria se usa para crear graficos.
import seaborn as sn #Esta libreria se usa para crear graficos.
import warnings
warnings.filterwarnings('ignore')

<h4 style="color:#616382; font-family: Tahoma"> 1.2) Importar Set de Datos </h4>

In [2]:
#Esta tupla es para definir los nombres de cada variable (columnas)
cols = ["symboling", "Normalized", "make", "fuel", "aspiration", "doors", 
       "style", "wheels", "engine", "base", "length", "width", "heingt",
       "curb", "engineType", "Cylind3rs", "engine size", "system", "bor3", "stroke",
       "compression", "hOrsepower", "peak", "CITY", "Higway", "price"]
dfAutos1 = pd.read_csv("DataSet_Autos01.csv", names=cols)
dfAutos2 = pd.read_csv("DataSet_Autos02.csv", names=cols)
print ('Se cargaron los datos a la memoria')

Se cargaron los datos a la memoria

<h4 style="color:#616382; font-family: Tahoma"> 1.3) Revision de los Set de Datos </h4>

<table>
  <tr>
    <td> <img src = boton-de-informacion.png> </td>
    <td>La primera columnaa de los set de datos se tienen que revisar para poder determinar si esta corresponde a un indice o a una variable</td>
  </tr>
</table>

In [3]:
dfAutos1.head(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
78.0,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

In [4]:
dfAutos2.head(2)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
4.0,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [5]:
dfAutos1.tail(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
161.0,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,28,34,9258
54.0,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,10945
163.0,1,168,toyota,gas,std,two,hatchback,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8238
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
140.0,0,102,subaru,gas,std,four,sedan,fwd,front,97.2,...,108,2bbl,3.62,2.64,9.5,82,4800,32,37,7126

In [6]:
dfAutos2.tail(2)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
3.0,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695

In [7]:
dfAutos1.shape

(201, 26)

In [8]:
dfAutos2.shape

(201, 26)

In [9]:
dfAutos1.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

In [10]:
dfAutos2.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

<h4 style="color:#616382; font-family: Tahoma"> 1.4) Generar un unico Set de Datos </h4>

In [11]:
unionArchivos = [dfAutos1, dfAutos2]
dfAutos = pd.concat(unionArchivos)
dfAutos.shape

(402, 26)

<h4 style="color:#616382; font-family: Tahoma"> 1.5) Solucionar los primeros errores identificados</h4>

In [12]:
dfAutos.head(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
78.0,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

In [13]:
dfAutos.reset_index(drop=True, inplace=True)
dfAutos

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
3,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
4,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,0,106,honda,gas,std,two,hatchback,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.0,86,5800,27,33,7895
398,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
399,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
400,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
401,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695

In [14]:
dfAutos.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

In [15]:
dfAutos.rename({'Normalized':'normalized', 'Cylind3rs':'cylinders', 'engine size':'engineSize',
                'bor3':'bore', 'hOrsepower':'horsepower', 'CITY':'city', 'Higway':'higway'},axis=1, inplace=True)
dfAutos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'cylinders', 'engineSize', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'city', 'higway',
       'price'],
      dtype='object')

In [16]:
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
3,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
4,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

<h2 Style = "color:  #25857d">2. Manejo de valores faltantes</h2>
 
<ol>
<li>Identificar como se muestran los valores faltantes (NaN, ?, null, EspacioEnBlanco)</li>
<li>Contar la cantidad de valores faltantes en cada una de las caracteristicas</li>
<li>Imputacion simple de valores numericos</li>
<li>Imputacion simple de valores categoricos</li>
<li>Eliminar observaciones o registros</li>
</ol>
 
<h4 style="color:#616382; font-family: Times New Roman">2.1 Identificar como se muestran los valores faltantes</h4>

In [17]:
dfAutos.head(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.00,85,5250,27,34,8495
3,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.40,95,5000,19,24,16695
4,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.60,102,5500,24,30,7689
5,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
6,3,?,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.50,207,5900,17,25,32528
7,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.40,112,6600,26,29,9298
8,2,104,saab,gas,std,four,sedan,fwd,front,99.1,...,121,mpfi,3.54,3.07,9.30,110,5250,21,28,12170
9,1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229

In [18]:
dfAutos['normalized'].unique()

array(['?', '148', '94', '161', '118', '168', '104', '74', '134', '164',
       '90', '115', '158', '119', '85', '93', '150', '101', '231', '65',
       '125', '128', '81', '197', '91', '129', '89', '256', '83', '103',
       '188', '154', '110', '108', '87', '107', '137', '145', '153',
       '102', '194', '122', '77', '106', '142', '113', '192', '121'],
      dtype=object)

In [19]:
dfAutos['price'].unique()

array(['13495', '8558', '8495', '16695', '7689', '5572', '32528', '9298',
       '12170', '6229', '13415', '11199', '17450', '8195', '16630',
       '14489', '15690', '11900', '23875', '11245', '7957', '6669',
       '8845', '15510', '28176', '15645', '7129', '18399', '10898',
       '6989', '7995', '9279', '16500', '7799', '14869', '6575', '6785',
       '18620', '9988', '9538', '31600', '11694', '12440', '5499',
       '18150', '6095', '15998', '7738', '7463', '9980', '10595', '24565',
       '7603', '11549', '12940', '?', '16558', '20970', '13950', '17075',
       '25552', '36880', '6692', '9895', '8948', '8921', '13499', '13645',
       '5348', '7053', '41315', '37028', '9258', '9989', '18920', '7609',
       '17669', '6377', '10945', '10345', '15985', '35550', '15250',
       '18280', '15040', '12945', '6855', '14399', '32250', '11248',
       '9295', '9495', '8499', '7126', '18344', '9233', '6479', '7099',
       '17710', '36000', '9960', '13845', '8449', '19699', '16503',
       '28248', '6938', '30760', '15750', '8013', '7775', '13200', '8238',
       '5399', '7898', '12964', '16900', '10698', '10295', '11850',
       '17199', '6529', '8249', '6338', '21105', '6918', '8949', '9995',
       '9549', '35056', '7975', '6488', '8358', '7999', '34184', '6649',
       '6695', '13860', '12764', '45400', '8189', '13295', '7895',
       '16430', '9959', '7198', '9639', '9095', '7299', '12629', '15580',
       '8778', '6849', '6189', '7349', '10198', '11595', '7295', '11048',
       '40960', '5151'], dtype=object)

In [20]:
dfAutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    402 non-null    int64
 1   normalized   402 non-null    object
 2   make         402 non-null    object
 3   fuel         402 non-null    object
 4   aspiration   402 non-null    object
 5   doors        402 non-null    object
 6   style        402 non-null    object
 7   wheels       402 non-null    object
 8   engine       402 non-null    object
 9   base         402 non-null    float64
 10  length       402 non-null    float64
 11  width        402 non-null    float64
 12  heingt       402 non-null    float64
 13  curb         402 non-null    int64
 14  engineType   402 non-null    object
 15  cylinders    402 non-null    object
 16  engineSize   402 non-null    int64
 17  system       402 non-null    object
 18  bore         402 non-null    object
 19  stroke       402 non-null    object
 20  compression  402 non-null    float64
 21  horsepower   402 non-null    object
 22  peak         402 non-null    object
 23  city         402 non-null    int64
 24  higway       402 non-null    int64
 25  price        402 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 81.8+ KB

<h4 style="color:#616382; font-family: Times New Roman">2.2 Contar los valores faltantes</h4>

In [21]:
dfAutos.replace('?', np.nan, inplace=True)
dfAutos['normalized'].unique()

array([nan, '148', '94', '161', '118', '168', '104', '74', '134', '164',
       '90', '115', '158', '119', '85', '93', '150', '101', '231', '65',
       '125', '128', '81', '197', '91', '129', '89', '256', '83', '103',
       '188', '154', '110', '108', '87', '107', '137', '145', '153',
       '102', '194', '122', '77', '106', '142', '113', '192', '121'],
      dtype=object)

In [22]:
dfTemp = dfAutos.isnull()
dfTemp.head(2)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
for columns in dfTemp.columns.values.tolist():
    print(dfTemp[columns].value_counts())
    print('')

symboling
False    402
Name: count, dtype: int64

normalized
False    318
True      84
Name: count, dtype: int64

make
False    402
Name: count, dtype: int64

fuel
False    402
Name: count, dtype: int64

aspiration
False    402
Name: count, dtype: int64

doors
False    399
True       3
Name: count, dtype: int64

style
False    402
Name: count, dtype: int64

wheels
False    402
Name: count, dtype: int64

engine
False    402
Name: count, dtype: int64

base
False    402
Name: count, dtype: int64

length
False    402
Name: count, dtype: int64

width
False    402
Name: count, dtype: int64

heingt
False    402
Name: count, dtype: int64

curb
False    402
Name: count, dtype: int64

engineType
False    402
Name: count, dtype: int64

cylinders
False    402
Name: count, dtype: int64

engineSize
False    402
Name: count, dtype: int64

system
False    402
Name: count, dtype: int64

bore
False    396
True       6
Name: count, dtype: int64

stroke
False    396
True       6
Name: count, dtype: int64

compression
False    402
Name: count, dtype: int64

horsepower
False    398
True       4
Name: count, dtype: int64

peak
False    398
True       4
Name: count, dtype: int64

city
False    402
Name: count, dtype: int64

higway
False    402
Name: count, dtype: int64

price
False    394
True       8
Name: count, dtype: int64

<h4 style="color:#616382; font-family: Times New Roman">2.3 Imputar los valores numericos faltantes</h4>

In [24]:
dfTemp = dfAutos[dfAutos.peak.isnull()]
dfTemp.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
83,2,NaN,renault,gas,std,two,hatchback,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9895
134,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
244,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
248,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295

In [25]:
dfTemp = dfAutos[dfAutos['make'] == 'renault']
dfTemp.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
83,2,NaN,renault,gas,std,two,hatchback,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9895
134,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
244,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
248,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295

In [26]:
dfTemp = dfAutos[dfAutos.stroke.isnull()]
dfTemp.head(7)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
26,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
92,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
113,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
183,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
197,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
378,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645

In [27]:
dfTemp = dfAutos[dfAutos['make'] == 'mazda']
dfTemp.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
17,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
20,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
26,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
51,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6095
56,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8845
61,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
92,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
113,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
121,0,118,mazda,gas,std,four,sedan,rwd,front,104.9,...,140,mpfi,3.76,3.16,8.0,120,5000,19,27,18280
129,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
130,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
150,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
158,0,NaN,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344
183,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
197,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
214,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
253,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
265,0,118,mazda,gas,std,four,sedan,rwd,front,104.9,...,140,mpfi,3.76,3.16,8.0,120,5000,19,27,18280
267,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
270,0,NaN,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344

In [28]:
dfTemp2 = dfTemp[dfTemp['style'] == 'hatchback']
dfTemp.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
17,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
20,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
26,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
51,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6095
56,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8845
61,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
92,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
113,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
121,0,118,mazda,gas,std,four,sedan,rwd,front,104.9,...,140,mpfi,3.76,3.16,8.0,120,5000,19,27,18280
129,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
130,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
150,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
158,0,NaN,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344
183,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
197,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
214,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
253,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
265,0,118,mazda,gas,std,four,sedan,rwd,front,104.9,...,140,mpfi,3.76,3.16,8.0,120,5000,19,27,18280
267,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
270,0,NaN,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344

In [29]:
dfTemp3 = dfTemp2[dfTemp2['horsepower'] == '101']
dfTemp3.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
92,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
113,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
197,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
378,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645

In [30]:
dfAutos.loc[92, 'stroke'] = 3.39
dfAutos.loc[113, 'stroke'] = 3.39
dfAutos.loc[197, 'stroke'] = 3.39
dfAutos.loc[378, 'stroke'] = 3.39
print('Datos Imputados')

Datos Imputados

<h3>Imputacion de datos por el valor promedio</h3>

In [31]:
def calcPromedioInt (variable):
    average = int(dfAutos[variable].astype('float').mean(axis=0))
    return average

In [32]:
def calcPromedioFloat (variable):
    average = round(dfAutos[variable].astype('float').mean(axis=0),2)
    return average

In [33]:
def imputacionNumerica (variable, valor, dfAutos):
    if variable in dfAutos.columns:
        dfAutos[variable].replace(np.nan, valor, inplace=True)
        print ('Imputacion Correcta')
    else:
        print(f'La columna {variable} no existe en del Marco de datos')

In [34]:
imputacionNumerica('normalized', calcPromedioInt('normalized'), dfAutos)
imputacionNumerica('peak', calcPromedioInt('peak'), dfAutos)
imputacionNumerica('horsepower', calcPromedioInt('horsepower'), dfAutos)
imputacionNumerica('stroke', calcPromedioFloat('stroke'), dfAutos)
imputacionNumerica('bore', calcPromedioFloat('bore'), dfAutos)

Imputacion Correcta
Imputacion Correcta
Imputacion Correcta
Imputacion Correcta
Imputacion Correcta

In [35]:
dfAutos['normalized'].unique()

array([122, '148', '94', '161', '118', '168', '104', '74', '134', '164',
       '90', '115', '158', '119', '85', '93', '150', '101', '231', '65',
       '125', '128', '81', '197', '91', '129', '89', '256', '83', '103',
       '188', '154', '110', '108', '87', '107', '137', '145', '153',
       '102', '194', '122', '77', '106', '142', '113', '192', '121'],
      dtype=object)

<h3>Imputacion de datos por el valor mas frecuente (categóricos)</h3>

In [36]:
dfAutos.head(3)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495

In [37]:
dfAutos['doors'].value_counts().idxmax()

'four'

In [38]:
dfAutos['doors'].replace(np.nan, 'four', inplace=True)
print ('Imputacion categorica realizada')

Imputacion categorica realizada

<h3>Eliminar observaciones</h3>

In [39]:
dfAutos.dropna(subset=['price'], axis=0, inplace=True)
dfAutos.reset_index(drop=True, inplace=True)

In [40]:
def missing_cols(dfAutos):
    total = 0
    for col in dfAutos.columns:
        missing_vals = dfAutos[col].isnull().sum()
        total += missing_vals
        if missing_vals != 0:
            print(f'{col} => {dfAutos[col].isnull().sum()}')
    if total == 0:
        print('No hay valores faltantes')
 
missing_cols(dfAutos)

No hay valores faltantes

<h2 Style = "color:  #a8c4a2">3. Transformacion de datos</h2>
 
<ol>
<li>Formateo de Datos</li>
<li>Tropicalizacion de Datos</li>
<li>Agrupar Datos</li>
</ol>
 
<h4 style="color:#6b6b6b; font-family: Times New Roman">3.1 Transformacion de Datos</h4>

In [41]:
dfAutos['make'].unique()

array(['alfa-romero', 'dodge', 'volkswagen', 'peugot', 'mitsubishi',
       'porsche', 'toyota', 'saab', 'volvo', 'audi', 'mazda', 'plymouth',
       'honda', 'mercedes-benz', 'nissan', 'chevrolet', 'isuzu', 'subaru',
       'bmw', 'renault', 'jaguar', 'mercury'], dtype=object)

In [42]:
dfAutos['fuel'].unique()

array(['gas', 'diesel'], dtype=object)

In [43]:
dfAutos['doors'].unique()

array(['two', 'four'], dtype=object)

In [44]:
dfAutos['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [45]:
dfAutos['make'] = dfAutos['make'].str.upper()
dfAutos['fuel'] = dfAutos['fuel'].str.upper()
dfAutos['doors'] = dfAutos['doors'].str.upper()
dfAutos['style'] = dfAutos['style'].str.upper()
dfAutos['aspiration'] = dfAutos['aspiration'].str.upper()
dfAutos['wheels'] = dfAutos['wheels'].str.upper()
dfAutos['engine'] = dfAutos['engine'].str.upper()
dfAutos['system'] = dfAutos['system'].str.upper()
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,122,ALFA-ROMERO,GAS,STD,TWO,CONVERTIBLE,RWD,FRONT,88.6,...,130,MPFI,3.47,2.68,9.0,111,5000,21,27,13495
1,1,148,DODGE,GAS,TURBO,FOUR,SEDAN,FWD,FRONT,93.7,...,98,MPFI,3.03,3.39,7.6,102,5500,24,30,8558
2,2,94,VOLKSWAGEN,GAS,STD,FOUR,SEDAN,FWD,FRONT,97.3,...,109,MPFI,3.19,3.40,9.0,85,5250,27,34,8495
3,0,122,PEUGOT,GAS,STD,FOUR,WAGON,RWD,FRONT,114.2,...,120,MPFI,3.46,2.19,8.4,95,5000,19,24,16695
4,1,161,MITSUBISHI,GAS,TURBO,TWO,HATCHBACK,FWD,FRONT,93.0,...,98,SPDI,3.03,3.39,7.6,102,5500,24,30,7689

In [46]:
dfAutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    394 non-null    int64
 1   normalized   394 non-null    object
 2   make         394 non-null    object
 3   fuel         394 non-null    object
 4   aspiration   394 non-null    object
 5   doors        394 non-null    object
 6   style        394 non-null    object
 7   wheels       394 non-null    object
 8   engine       394 non-null    object
 9   base         394 non-null    float64
 10  length       394 non-null    float64
 11  width        394 non-null    float64
 12  heingt       394 non-null    float64
 13  curb         394 non-null    int64
 14  engineType   394 non-null    object
 15  cylinders    394 non-null    object
 16  engineSize   394 non-null    int64
 17  system       394 non-null    object
 18  bore         394 non-null    object
 19  stroke       394 non-null    object
 20  compression  394 non-null    float64
 21  horsepower   394 non-null    object
 22  peak         394 non-null    object
 23  city         394 non-null    int64
 24  higway       394 non-null    int64
 25  price        394 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 80.2+ KB

In [47]:
dfAutos[['bore', 'stroke']] = dfAutos[['bore', 'stroke']].astype(float)
dfAutos[['price', 'horsepower', 'peak', 'normalized']] = dfAutos[['price', 'horsepower', 'peak', 'normalized']].astype(int)
dfAutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    394 non-null    int64
 1   normalized   394 non-null    int64
 2   make         394 non-null    object
 3   fuel         394 non-null    object
 4   aspiration   394 non-null    object
 5   doors        394 non-null    object
 6   style        394 non-null    object
 7   wheels       394 non-null    object
 8   engine       394 non-null    object
 9   base         394 non-null    float64
 10  length       394 non-null    float64
 11  width        394 non-null    float64
 12  heingt       394 non-null    float64
 13  curb         394 non-null    int64
 14  engineType   394 non-null    object
 15  cylinders    394 non-null    object
 16  engineSize   394 non-null    int64
 17  system       394 non-null    object
 18  bore         394 non-null    float64
 19  stroke       394 non-null    float64
 20  compression  394 non-null    float64
 21  horsepower   394 non-null    int64
 22  peak         394 non-null    int64
 23  city         394 non-null    int64
 24  higway       394 non-null    int64
 25  price        394 non-null    int64
dtypes: float64(7), int64(9), object(10)
memory usage: 80.2+ KB

In [48]:
dfAutos['stroke'] = dfAutos['stroke'].round(1)
dfAutos['base']= dfAutos['base'].round(1)
dfAutos['bore']= dfAutos['bore'].round(1)
dfAutos['length']= dfAutos['length'].round(1)
dfAutos['width']= dfAutos['width'].round(1)
dfAutos['heingt']= dfAutos['heingt'].round(1)
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,122,ALFA-ROMERO,GAS,STD,TWO,CONVERTIBLE,RWD,FRONT,88.6,...,130,MPFI,3.5,2.7,9.0,111,5000,21,27,13495
1,1,148,DODGE,GAS,TURBO,FOUR,SEDAN,FWD,FRONT,93.7,...,98,MPFI,3.0,3.4,7.6,102,5500,24,30,8558
2,2,94,VOLKSWAGEN,GAS,STD,FOUR,SEDAN,FWD,FRONT,97.3,...,109,MPFI,3.2,3.4,9.0,85,5250,27,34,8495
3,0,122,PEUGOT,GAS,STD,FOUR,WAGON,RWD,FRONT,114.2,...,120,MPFI,3.5,2.2,8.4,95,5000,19,24,16695
4,1,161,MITSUBISHI,GAS,TURBO,TWO,HATCHBACK,FWD,FRONT,93.0,...,98,SPDI,3.0,3.4,7.6,102,5500,24,30,7689

In [49]:
dfAutos['compression'].unique()

array([ 9.  ,  7.6 ,  8.4 ,  9.41,  9.5 ,  9.4 ,  9.3 ,  8.  ,  7.  ,
        9.2 ,  8.6 ,  8.3 , 21.5 ,  8.7 ,  8.5 , 23.  ,  7.5 ,  9.6 ,
        7.7 , 10.  , 21.  ,  9.1 ,  8.1 , 22.  , 21.9 , 11.5 ,  7.8 ,
       10.1 , 22.5 ,  9.31,  8.8 ])

In [50]:
dfAutos[['compression']] = dfAutos[['compression']].astype(int)
dfAutos['compression'].unique()

array([ 9,  7,  8, 21, 23, 10, 22, 11])

<h4 style="color:#6b6b6b; font-family: Times New Roman">3.2 Tropicalizacion de Datos</h4>

In [51]:
dfAutos.head(2)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,122,ALFA-ROMERO,GAS,STD,TWO,CONVERTIBLE,RWD,FRONT,88.6,...,130,MPFI,3.5,2.7,9,111,5000,21,27,13495
1,1,148,DODGE,GAS,TURBO,FOUR,SEDAN,FWD,FRONT,93.7,...,98,MPFI,3.0,3.4,7,102,5500,24,30,8558

In [52]:
dfAutos['consumoCiudad(calc)'] = 235.21/dfAutos['city']
dfAutos['consumoCiudad(calc)'] = dfAutos['consumoCiudad(calc)'].round(1)
dfAutos['consumoPista(calc)'] = 235.21/dfAutos['higway']
dfAutos['consumoPista(calc)'] = dfAutos['consumoPista(calc)'].round(1)
dfAutos.head(2)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,bore,stroke,compression,horsepower,peak,city,higway,price,consumoCiudad(calc),consumoPista(calc)
0,3,122,ALFA-ROMERO,GAS,STD,TWO,CONVERTIBLE,RWD,FRONT,88.6,...,3.5,2.7,9,111,5000,21,27,13495,11.2,8.7
1,1,148,DODGE,GAS,TURBO,FOUR,SEDAN,FWD,FRONT,93.7,...,3.0,3.4,7,102,5500,24,30,8558,9.8,7.8

<h4 style="color:#6b6b6b; font-family: Times New Roman">3.3 Agrupaciones de Datos</h4>

In [53]:
bins = np.linspace(min(dfAutos['horsepower']),max(dfAutos['horsepower']),4)
bins

array([ 48.        , 119.33333333, 190.66666667, 262.        ])

In [54]:
grupo = ['HPbajo', 'HPmedio,', 'HPalto']
dfAutos['grupoHP'] = pd.cut(dfAutos['horsepower'], bins, labels = grupo, include_lowest=True)
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,stroke,compression,horsepower,peak,city,higway,price,consumoCiudad(calc),consumoPista(calc),grupoHP
0,3,122,ALFA-ROMERO,GAS,STD,TWO,CONVERTIBLE,RWD,FRONT,88.6,...,2.7,9,111,5000,21,27,13495,11.2,8.7,HPbajo
1,1,148,DODGE,GAS,TURBO,FOUR,SEDAN,FWD,FRONT,93.7,...,3.4,7,102,5500,24,30,8558,9.8,7.8,HPbajo
2,2,94,VOLKSWAGEN,GAS,STD,FOUR,SEDAN,FWD,FRONT,97.3,...,3.4,9,85,5250,27,34,8495,8.7,6.9,HPbajo
3,0,122,PEUGOT,GAS,STD,FOUR,WAGON,RWD,FRONT,114.2,...,2.2,8,95,5000,19,24,16695,12.4,9.8,HPbajo
4,1,161,MITSUBISHI,GAS,TURBO,TWO,HATCHBACK,FWD,FRONT,93.0,...,3.4,7,102,5500,24,30,7689,9.8,7.8,HPbajo

<h2 Style = "color:  #a8c4a2">4. Visualizacion de datos</h2>
 
<ol>
<li>Graficas de Barras</li>
<li>Graficas Circulares</li>
<li>Graficas de Dispersion</li>
</ol>
 
<h4 style="color:#6b6b6b; font-family: Times New Roman">4.1 Graficos de Barras</h4>

In [59]:
def agrupaYcuenta(dfParam, nomColumna, orden):
    gf = dfParam.groupby([nomColumna]).count()
    gf = gf.iloc[:,:1]
    gf.rename({'symboling':'cantidad'}, axis=1, inplace=True)
    gf = gf.sort_values('cantidad', ascending=True)
    return gf

<h4 style="color:#6b6b6b; font-family: Times New Roman">4.1 Pregunta de negocios: Cuantos autos hay segun el tipo de combustible?</h4>